trigger:
- main

pool: Todo infra

stages:
  - stage: terraform_install
    jobs:
      - job: terraform_install
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'

  - stage: terraform_init
    jobs:
      - job: terraform_init
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'alfa'
            backendAzureRmResourceGroupName: 'alfa_todo'
            backendAzureRmStorageAccountName: 'todoacco'
            backendAzureRmContainerName: 'tfstate'
            backendAzureRmKey: 'tf.tfstate'
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'

  - stage: terraform_validate
    jobs:
     - job: terraform_validate
       steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'alfa'
            backendAzureRmResourceGroupName: 'alfa_todo'
            backendAzureRmStorageAccountName: 'todoacco'
            backendAzureRmContainerName: 'tfstate'
            backendAzureRmKey: 'tf.tfstate'
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'

  - stage: terraform_plan
    jobs:
      - job: terraform_plan
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'alfa'
            backendAzureRmResourceGroupName: 'alfa_todo'
            backendAzureRmStorageAccountName: 'todoacco'
            backendAzureRmContainerName: 'tfstate'
            backendAzureRmKey: 'tf.tfstate'
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'
            environmentServiceNameAzureRM: 'alfa'

  - stage: terraform_apply
    jobs:
      - job: terraform_apply
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'alfa'
            backendAzureRmResourceGroupName: 'alfa_todo'
            backendAzureRmStorageAccountName: 'todoacco'
            backendAzureRmContainerName: 'tfstate'
            backendAzureRmKey: 'tf.tfstate'
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'apply'
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'
            commandOptions: '-auto-approve'
            environmentServiceNameAzureRM: 'alfa'
