trigger:
- main

pool: Todo infra

stages:
  - stage: terraform_install
    jobs:
      - job: terraform_install
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'

  - stage: terraform_init
    jobs:
      - job: terraform_init
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'alfa'
            backendAzureRmResourceGroupName: 'alfa_todo'
            backendAzureRmStorageAccountName: 'todoacco'
            backendAzureRmContainerName: 'alfaacco'
            backendAzureRmKey: 'tf.tfstate'
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'
  - stage: scan_code
    jobs:
    #  - job: 
    #    steps:
    #   #  - task: SonarQubePrepare@8
    #   #    inputs:
    #   #      SonarQube: 'SonarQube'
    #   #      scannerMode: 'cli'
    #   #      configMode: 'manual'
    #   #      cliProjectKey: 'todoinfra'
    #   #      cliProjectName: 'todoinfra'
    #   #      cliSources: '.'
     - job: scan_code
       steps:
       - task: tfsec@1
         inputs:
           version: 'v1.26.0'
           continueOnError: 'true'
           dir: '$(System.DefaultWorkingDirectory)\Enviroment\dev'
       - task: PowerShell@2
         inputs:
           targetType: 'inline'
           script: 'tflint'
           errorActionPreference: 'continue'
           continueOnError: 'true'
           dir: '$(System.DefaultWorkingDirectory)\Enviroment\dev'

  - stage: terraform_validate
    jobs:
     - job: terraform_validate
       steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'alfa'
            backendAzureRmResourceGroupName: 'alfa_todo'
            backendAzureRmStorageAccountName: 'todoacco'
            backendAzureRmContainerName: 'alfaacco'
            backendAzureRmKey: 'tf.tfstate'
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'

  - stage: terraform_plan
    jobs:
      - job: terraform_plan
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'alfa'
            backendAzureRmResourceGroupName: 'alfa_todo'
            backendAzureRmStorageAccountName: 'todoacco'
            backendAzureRmContainerName: 'alfaacco'
            backendAzureRmKey: 'tf.tfstate'
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'
            environmentServiceNameAzureRM: 'alfa'
        - task: InfracostSetup@2
          inputs:
            apiKey: 'ico-IIsbb9sbi8YnUl3XKg0x9Q0jbB5oBPIp'
            version: '0.10.x'

  # - stage: terraform_apply
  #   jobs:
  #     - job: terraform_apply
  #       steps:
  #       - task: TerraformTask@5
  #         inputs:
  #           provider: 'azurerm'
  #           command: 'init'
  #           backendServiceArm: 'alfa'
  #           backendAzureRmResourceGroupName: 'alfa_todo'
  #           backendAzureRmStorageAccountName: 'todoacco'
  #           backendAzureRmContainerName: 'alfaacco'
  #           backendAzureRmKey: 'tf.tfstate'
  #           workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'

  #       - task: TerraformTask@5
  #         inputs:
  #           provider: 'azurerm'
  #           command: 'apply'
  #           workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'
  #           commandOptions: '-auto-approve'
  #           environmentServiceNameAzureRM: 'alfa'
