
trigger:
- main

pool: Todo infra

stages:
  - stage: terraform_install
    jobs:
      - job: terraform_install
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
  - stage: terraform_init
    jobs:
      - job: terrafom_init
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'alfa'
            backendAzureRmResourceGroupName: 'alfa_todo'
            backendAzureRmStorageAccountName: 'alfaacaunt'
            backendAzureRmContainerName: 'tfstate'
            backendAzureRmKey: 'tf.tfstate'
            workingDirectory: '$(System.DefaultWorkingDirectory)Enviroment /dev'
  - stage: terraform_validate
    jobs:
     - job: terraform_validate
       steps:
       - task: TerraformTask@5
         inputs:
           provider: 'azurerm'
           command: 'validate'
           workingDirectory: '$(System.DefaultWorkingDirectory)Enviroment /dev'
  - stage: terraform_plan
    jobs:
      - job: terraform_plan
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)Enviroment /dev'