trigger:
- main

pool: Todo infra

stages:
  - stage: terraform_install
    jobs:
      - job: terraform_install
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'

  - stage: terraform_init
    jobs:
      - job: terraform_init
        steps:

        - task: PowerShell@2
          displayName: "Clean Terraform local state"
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "Deleting .terraform folder"
              Remove-Item -Recurse -Force "$(System.DefaultWorkingDirectory)\Enviroment\dev\.terraform" -ErrorAction SilentlyContinue
              Remove-Item -Force "$(System.DefaultWorkingDirectory)\Enviroment\dev\.terraform.lock.hcl" -ErrorAction SilentlyContinue

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'alfa'
            backendAzureRmResourceGroupName: 'alfa_todo'
            backendAzureRmStorageAccountName: 'todoacco'
            backendAzureRmContainerName: 'tfstate'
            backendAzureRmKey: 'tf.tfstate'
            commandOptions: "-reconfigure"
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'

  - stage: terraform_validate
    jobs:
     - job: terraform_validate
       steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'alfa'
            backendAzureRmResourceGroupName: 'alfa_todo'
            backendAzureRmStorageAccountName: 'todoacco'
            backendAzureRmContainerName: 'tfstate'
            backendAzureRmKey: 'tf.tfstate'
            commandOptions: "-reconfigure"
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'

  - stage: terraform_plan
    jobs:
      - job: terraform_plan
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'alfa'
            backendAzureRmResourceGroupName: 'alfa_todo'
            backendAzureRmStorageAccountName: 'todoacco'
            backendAzureRmContainerName: 'tfstate'
            backendAzureRmKey: 'tf.tfstate'
            commandOptions: "-reconfigure"
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            backendServiceArm: 'alfa'
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'

  - stage: terraform_apply
    jobs:
      - job: terraform_apply
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'alfa'
            backendAzureRmResourceGroupName: 'alfa_todo'
            backendAzureRmStorageAccountName: 'todoacco'
            backendAzureRmContainerName: 'tfstate'
            backendAzureRmKey: 'tf.tfstate'
            commandOptions: "-reconfigure"
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'apply'
            workingDirectory: '$(System.DefaultWorkingDirectory)\Enviroment\dev'
            environmentServiceNameAzureRM: 'alfa'
